.SearchBox {
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.SearchBox-input{
    border : 2px solid black;
    border-radius: 20px;
    padding : 50px;
}
button{
    padding :8px;
    background: green;
    color :white;
    outline: none;
    font-weight: 600;
    border-radius: 10px;
    border : none;
    cursor :pointer;
    width:20%;
    margin-top: 50px;
}
input{
    padding : 20px !important;
}
.Link{
    text-decoration: none;
    color: white;
}